@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to bottom,  #348888, #22BABB);
}

h1 {
    color: #F24405;
    text-align: center;
    text-shadow: 1px 1px 2px #af32058d;
}

h2 {
    color: #FA7F08;
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #255e5e73;
    margin: auto;
    max-width: 600px;
    padding: 10px;
}

p {
    text-align: justify;
}